.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding: 32px 16px;
  width: 100%;
}

section {
  padding: 16px 0;
}
